.navigation {
  margin: 1% 1% 1% 1%;
  padding: 1%;
  align-items: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201440%20320%22%3E%3Cpath%20fill%3D%22%235000ca%22%20fill-opacity%3D%221%22%20d%3D%22M0%2C192L0%2C288L51.4%2C288L51.4%2C160L102.9%2C160L102.9%2C288L154.3%2C288L154.3%2C64L205.7%2C64L205.7%2C96L257.1%2C96L257.1%2C128L308.6%2C128L308.6%2C224L360%2C224L360%2C96L411.4%2C96L411.4%2C160L462.9%2C160L462.9%2C224L514.3%2C224L514.3%2C224L565.7%2C224L565.7%2C32L617.1%2C32L617.1%2C32L668.6%2C32L668.6%2C160L720%2C160L720%2C64L771.4%2C64L771.4%2C96L822.9%2C96L822.9%2C224L874.3%2C224L874.3%2C128L925.7%2C128L925.7%2C128L977.1%2C128L977.1%2C224L1028.6%2C224L1028.6%2C256L1080%2C256L1080%2C96L1131.4%2C96L1131.4%2C224L1182.9%2C224L1182.9%2C224L1234.3%2C224L1234.3%2C192L1285.7%2C192L1285.7%2C32L1337.1%2C32L1337.1%2C128L1388.6%2C128L1388.6%2C224L1440%2C224L1440%2C0L1388.6%2C0L1388.6%2C0L1337.1%2C0L1337.1%2C0L1285.7%2C0L1285.7%2C0L1234.3%2C0L1234.3%2C0L1182.9%2C0L1182.9%2C0L1131.4%2C0L1131.4%2C0L1080%2C0L1080%2C0L1028.6%2C0L1028.6%2C0L977.1%2C0L977.1%2C0L925.7%2C0L925.7%2C0L874.3%2C0L874.3%2C0L822.9%2C0L822.9%2C0L771.4%2C0L771.4%2C0L720%2C0L720%2C0L668.6%2C0L668.6%2C0L617.1%2C0L617.1%2C0L565.7%2C0L565.7%2C0L514.3%2C0L514.3%2C0L462.9%2C0L462.9%2C0L411.4%2C0L411.4%2C0L360%2C0L360%2C0L308.6%2C0L308.6%2C0L257.1%2C0L257.1%2C0L205.7%2C0L205.7%2C0L154.3%2C0L154.3%2C0L102.9%2C0L102.9%2C0L51.4%2C0L51.4%2C0L0%2C0L0%2C0Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  animation: moveBackground 20s cubic-bezier(0.895, 0.03, 0.685, 0.22) infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 10 5;
  }
  50% {
    background-position: 100% 0;
    opacity: 0.5;
  }
  100% {
    background-position: 50 0;
  }
}
