.theme-toggle-button {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent; /* Transparent background */
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle-button:hover {
  animation: rotate cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    }
}