@import './tailwind.css';

/* Global styles */
html, body {
  transition: background-color 1s ease-in-out, color 1.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Light theme styles */
:root {
  --icon-color: #000000;
  background-color: #fffefa;
  --theme-bg-color: rgba(16 18 27 / 40%);
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: #006fde;
  --inactive-color: rgb(113 119 144 / 78%);
  --body-font: "Poppins", sans-serif;
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #999ba5;
  --content-bg: rgb(146 151 179 / 13%);
  --button-inactive: rgb(249 250 251 / 55%);
  --dropdown-bg: #21242d;
  --dropdown-hover: rgb(42 46 60);
  --popup-bg: rgb(22 25 37);
  --search-bg:  #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1 2 3 / 40%);
 }
 
/* Dark theme styles */
.dark {
  --text-color: #000000;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23340087' fill-opacity='0.86' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");  /*  --bg-color: linear-gradient(90deg, #0f0c29 0%, #0f0c29 50%, #0f0c29 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --icon-color: #ffffff;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  cursor: url('/assets/images/Portfolio/cursor.cur'), auto;}