:root {
  background-color: #0d0118;
  color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: Sintony, sans-serif;
  font-size: 12px;
  color: #e5e5e5;
  line-height: 1;
}
@keyframes animateMenu {
  0% {
    font-size: 2vh;
  }
  100% {
    font-size: 2.1vh;
  }
}
@media (max-width: 600px) {
  .profile-image {
    width: 60px;
    height: 60px;
  }
  .glitch {
    font-size: medium;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.profile-link {
  float: left;
  margin-top: 40px;
}
.profile-image {
  clip-path: polygon(
    34% 0,
    70% 0,
    100% 0,
    100% 59%,
    59% 100%,
    0 100%,
    0 70%,
    0 30%
  );
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.profile-image:hover {
  opacity: 1;
  animation: profilePic 1s cubic-bezier(0.11, 0, 0.5, 0) 0s infinite reverse
    both;
}
@keyframes profilePic {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    animation-timing-function: ease-out;
    transform: scale(0.95);
  }
  33% {
    animation-timing-function: ease-in;
    transform: scale(0.98);
  }
  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
.glitch-wrapper {
  width: 30%;
  height: 100%;
  float: left;
  display: flex;
  margin-top: 9px;
}
.glitch {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
}
.glitch:after,
.glitch:before {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.glitch:before {
  animation: glitch-it 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00ff9d;
  z-index: -1;
}
.glitch:after {
  animation: glitch-it 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #6600a1;
  z-index: -2;
}
@keyframes glitch-it {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}
